@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&display=swap");
body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: rubik;
  color: rgb(23, 11, 45);
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  padding: 40px;
  margin: 0 auto;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}
input {
  text-align: center;
  font-size: 20px;
}
.container__button--sig {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-family: impact;
  font-size: 22px;

  -webkit-text-fill-color: #6E7074;
}
.container__button--ant {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-family: impact;
  font-size: 22px;
  -webkit-text-fill-color: #6E7074;
}
.card {

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  list-style: none;
  padding: 40px;
  background-color: rgb(242, 242, 242);
  color: #222;
  text-align: center;
  border-radius: 15%;
}
.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  color:#3663AD;
}
.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}
.card-image {
  height: 100%;
  width: 100%;
}
#games {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 40px;
}
.card:hover {
  animation: bounce 0.5s linear;
}
@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}

.card-image:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  justify-content: space-between;
}
.navButtonImage{
  width: 20px;

}
.navbar__placeholder {
  offset: -1;
  width: 33%;
}

.hidden {
visibility: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
  position: absolute;
  position: fixed;
  z-index: 2;
  width: 650px;
  width: 130px;
}

.navbar__index {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: grey;
}

.navbar__index--item {
  padding-right: 5px;
  padding-left: 5px;
}

.navbar__index--item:first-child {
  color: black;
  font-weight: bold;
}

.navbar__subindex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  list-style: none;
}

.navbar__subindex--item {
  display: flex;
  align-content: start;
}

.navbar__subindex--selected {
  font-weight: bold;
}

.superior {
  display: flex;
  text-align: center;
  list-style: none;
  text-decoration: none;
  justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
}

.parrafo-central {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  width: 33%;
  font-weight: bold;
}

.parrafo-central ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
}

.parrafo-central__title {
  display: flex;
}

.parrafo-central__nav {
  display: flex;
}

.parrafo-central__item {
  color: rgb(201, 198, 197);
}

.parrafo-central__item:not(:first-child)::before {
  content: ">";
  margin: 10px;
  color: black;
}

.parrafo-central__item:last-child {
  color: black;
}

.search {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  width: 33%;
  color: #fff;
}

.search__input {
  display: flex;
  list-style: none;
  font-size: 12px;
  margin-top: 5px;
}

.search__input--text::placeholder {
  color: rgb(17, 17, 13);
  text-decoration: solid;
}

.search__input--underline {
  border-bottom: 1px solid rgb(19, 19, 16);
  margin-right: 20px;
}

.search__input input {
  border: 0;
  outline: 0;
  background: transparent;
  color:rgb(17, 17, 13);
}

.search__input--icon {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0px solid rgb(253, 252, 252);
}

.search__text {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  list-style: none;
  font-size: 10px;
  margin-top: 5px;
}

.search__text p {
  display: flex;
}

.search__text ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.header__background {
  overflow-clip-margin: content-box;
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: rgb(29, 5, 83);
  font-family: impact;
  font-size:18 px;

  -webkit-text-fill-color: #6E7074;

}
.card__button {
  display: flex;
  justify-content: center;
  font-family: Bebas Neue;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #0066cc 0%, #c500cc 100%);
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
}

.colorNull {
  background-color: rgb(255, 255, 255);
}
.colorFire {
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(229, 229, 5) 100%);
}
.colorWater {
  background: linear-gradient(
    90deg,
    rgb(167, 160, 210) 0%,
    rgb(7, 27, 130) 100%
  );
}
.colorFlying {
  color: black;
  background: linear-gradient(
    90deg,
    rgb(213, 242, 246) 0%,
    rgb(116, 227, 255) 100%
  );
}
.colorBug {
  background: linear-gradient(90deg, rgb(44, 221, 0) 0%, rgb(242, 0, 255) 100%);
}
.colorPoison {
  background: linear-gradient(
    90deg,
    rgb(252, 157, 251) 0%,
    rgb(255, 0, 208) 100%
  );
}
.colorNormal {
  background: linear-gradient(
    90deg,
    rgb(220, 220, 220) 0%,
    rgb(61, 61, 61) 100%
  );
}
.colorElectric {
  color: black;
  background: linear-gradient(90deg, rgb(255, 246, 85) 0%, #6E7074 100%);
}
.colorGround {
  background: linear-gradient(90deg, rgb(128, 64, 0) 0%, #6E7074 100%);
}
.colorFairy {
  background: linear-gradient(
    90deg,
    rgb(65, 1, 48) 0%,
    rgb(217, 134, 245) 100%
  );
}
.colorGrass {
  background: linear-gradient(90deg, rgb(51, 255, 0) 0%, rgb(2, 63, 0) 100%);
}
.colorFighting {
  background: linear-gradient(90deg, gb(128, 64, 0) 0%, rgb(88, 0, 159) 100%);
}
.colorPsychic {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(153, 153, 153) 100%);
}
.colorRock {
  background: linear-gradient(
    90deg,
    rgb(146, 146, 146) 0%,
    rgb(54, 54, 54) 100%
  );
}
.colorSteel {
  color: black;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(254, 254, 116) 100%
  );
}
.colorIce {
  background: linear-gradient(
    90deg,
    rgb(30, 108, 192) 0%,
    rgb(149, 170, 180) 100%
  );
}
.colorGhost {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(109, 109, 109) 100%);
}
.colorDragon {
  background: linear-gradient(
    90deg,
    rgb(0, 9, 112) 0%,
    rgb(234, 153, 254) 100%
  );
}

.card__ul {
  padding-inline-start: 0%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.card__type {
  display: contents;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
.container__paginacion {
  display: flex;
  justify-content: center;
}
.container__button--ant {
  display: flex;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.container__button--sig {
  display: flex;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
